.App {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #0a1a2b;      /* Deep navy blue for primary backgrounds */
  --secondary-color: #1c3b5a;    /* A lighter navy for contrast in sections */
  --accent-color: #4db8ff;       /* Bright, vibrant blue for accents and interactive elements */
  --background-color: #0a0f1d;   /* Dark navy background for the entire page */
  --text-color: #e0e8ff;      
}


/* Light theme */
.light-theme {
  --primary-color: #f1f1f1;
  --secondary-color: #ff9f43;
  --accent-color: #54a0ff;
  --background-color: #ffffff;
  --text-color: #2c3e50;
}